/*
 * Forms
 */
input {
  font-size: 11px;
}
.num {
  text-align: right !important;
}
.mandatory {
  background-color: #ffc8c8 !important;
}
.badtype {
  border: 3px solid #c00 !important;
}
.disabled {
  background-color: #d3d3d3 !important;
}

/* readonly widgets */
div.readonly {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  padding-right: 15px;
}

div.num {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  width: 80px;
  text-align: right !important;
}

td {
  padding: 5px;
  color: #446;
  font-family: Verdana, Arial, Sans
  font-weight: bold;
}
td.centered {
  text-align: center;
}
td.section-header {
  text-align: left;
}
#content td.section-header * {
  border-bottom: 0;
  font-family: Arial, sans;
}
td.section-header h2 {
  margin: 5px 0;
  color: #333399;
  background: #fff;
  font-size: 14px;
}
td.section-header h3 {
  margin: 3px 0;
  color: #333399;
  background: #729FCF;
  font-size: 14px;
}
td.section-header h4 {
  margin: 1px 0;
  color: #333399;
  background: #fff;
  font-size: 12px;
}
td.section-header h5 {
  margin: 1px 0;
  font-size: 12px;
  color: #000;
  background: #fff;
  font-variant: italic;
}
td.field-label {
  background-color: #d3d3d3;
}
td.rubrique-label {
  background-color: #d3d3d3;
  font-size: 8px;
}

#header {
  padding: 19px 10px 10px 90px;
  background: #729fcf url(images/logo.png) left bottom no-repeat;
  text-align: left;
}

#top-menu {
  text-align: right;
}

#scrib-adresse  {
  position: absolute;
  top: 0px;
  left: 210px;
  width: 240px;
  height: 80px;
  margin: 0;
  padding: 0; 
  font-size: 10px;
  line-height: 1em;
}

#scrib-contacts  {
  position: absolute;
  top: 0px;
  left: 450px;
  width: 480px;
  height: 80px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 1em;
}

.scrib-table td {
  text-align: left;
}

#form-firsttime {
  border: 1px solid red;
  background: red;
  font-weight: bold;
}
#form-firsttime a {
  color: white;
}
#form-toolbar {
  margin: 0;
  font-size: 10px;
}
#form-help {
  float: left;
  border: 1px solid red;
  color: white;
  background: red;
  text-decoration: none;
}
#form-submit {
  float: right;
  margin-left: 20px;
}
#form-print {
  float: right;
  padding-left: 20px;
  background: url(images/imprimer.png) top left no-repeat;
}
#form-tables {
  text-align: center;
}
#form-tables table {
  margin: auto;
  text-align: left;
}
.form-debug {
  font-size: 9px;
  color: #333;
}

#profile span {
  margin: 9px;
  font-weight: bold;
}
#profile span.wf-exported { color: #000; }

#message .info {
  background-color: #f1e68d;
}
