/*
 * Forms
 */
input {
  font-size: 11px;
}
.num {
  text-align: right !important;
}
.mandatory {
  background-color: rgb(255, 200, 200) !important;
}
.badtype {
  background-color: rgb(255, 100, 100) !important;
}
.disabled {
  background-color: rgb(235, 235, 235) !important;
}

/* readonly widgets */
div.readonly {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  padding-right: 15px;
}

div.num {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  width: 80px;
  text-align: right !important;
}

td.centered {
  text-align: center;
}
td.section-header {
  background-color: rgb(51, 51, 153);
  color: rgb(255, 255, 255);
  text-align: left;
}
td.field-label {
  background-color: rgb(211, 211, 211);
}

#header {
  padding: 40px 10px 10px 10px;
  background: #729fcf url(images/logo.png) left bottom no-repeat;
  text-align: right;
}

#scrib-adress  {
  position: absolute;
  top: 4px;
  left: 200px;
  width: 340px;
  height: 80px;
  margin: 0;
  padding: 0; 
  font-size: 10px;
}

#scrib-contacts  {
  position: absolute;
  top: 4px;
  left: 545px;
  width: 180px;
  height: 80px;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.scrib-table td {
  text-align: left;
}

#profile span {
  margin: 9px;
  font-weight: bold;
}
#profile span.wf-exported { color: #000; }

input.access-False,
select.access-False {
  color: #999;
}
