/* Restore default values */
#autoform input, #autoform textarea {
  width: auto;
}

body {
  background: transparent url('/ui/iscrib/images/bkg.jpg') top left repeat-x;
}

div#page {
  display: table;
  width: 900px;
  max-width: 900px;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* HEADER */
#header {
  background: transparent url('/ui/iscrib/images/banner.png') top left no-repeat;
  padding: 0;
  height: 61px;
  min-height: 61px;
  margin-bottom: 0;
}

#header #logo {
  bottom: 9px;
}

#header .header-toolbar {
  right: 15px;
  bottom: 5px;
  position: absolute;
}

#header #menu {
  top: 0;
  height: 30px;
}

#header #menu li a {
  -moz-border-radius: 0;
  background: #033060;
  color: #FFFFFF;
  font-family: "trebuchet MS";
  font-size: 13px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#header #menu li a:hover,
#header #menu li.in-path a {
  background: #49d1ff;
  color: #fff;
}

#header #links-menu-profile {
  padding-left: 20px;
  background: url("/ui/iscrib/images/auth.png") no-repeat scroll left top transparent;
}

#header #links-menu-logout {
  padding-left: 20px;
  background: url("/ui/iscrib/images/deco.png") no-repeat scroll left top transparent;
}

/*
 * HOME PAGE
 */
#page.home-page #location {
  position: absolute;
  top: 61px;
  width: 880px;
}

#page.home-page #body {
  padding: 0;
}

#home-container {
  width: 900px;
  height: 340px;
  position: relative;
}

#home-container #home-title {
  width: 900px;
  height: 340px;
  position: relative;
  background: url("/ui/iscrib/images/home-background.png") no-repeat scroll left bottom transparent;
}

#home-container #home-title .content {
  color: #0D3967;
  font-family: "trebuchet MS";
  font-size: 20px;
  line-height: 0.95em;
  padding-left: 50px;
  padding-right: 290px;
  padding-top: 55px;
  text-align: justify;
  height: 72px;
}

#home-container #home-title #home-title-link {
  height: 60px;
  left: 358px;
  position: absolute;
  top: 118px;
  width: 285px;
}

#home-container #home-title .etape {
  height: 213px;
  width: 900px;
  position: absolute;
  bottom: 0;
}

/* Box auth */
#home-container #box-auth {
  background: url("/ui/iscrib/images/home-box.png") no-repeat scroll left top transparent;
  bottom: 20px;
  height: 263px;
  padding-left: 11px;
  padding-right: 18px;
  padding-top: 50px;
  position: absolute;
  right: 0;
  width: 182px;
}
#home-container #box-auth label {
  color: #fff;
  /* display: block; */
}
#home-container #box-auth label.title.field-error {
  color: red;
}
#home-container #box-auth input {
  background: #fff;
  width: 180px;
  height: 20px;
  margin-bottom: 5px;
}
#home-container #box-auth #box-auth-autoform .button-create {
  padding: 0 !important;
  margin: 0 !important;
  width: 84px !important;
  height: 25px !important;
  background: url("/ui/iscrib/images/home-bt-creer.png") no-repeat scroll left top transparent;

  color: transparent;
  border: 0;
  /* remove border/xxx */
  border: none;
  /* radius */
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  /* shadow */
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#home-container #box-auth #box-auth-autoform p {
  margin: 0;
}
#home-container #box-auth #box-auth-autoform p.actions {
  text-align: right;
}
#home-container #box-auth #box-auth-forgotten {
  color: #fff;
}
#home-container #box-auth #box-auth-already-customer-link {
  bottom: 13px;
  height: 21px;
  position: absolute;
  right: 5px;
  width: 125px;
}
#home-container #box-auth #box-auth-already-customer-link span {
  display: none;
}

#folder-banner {
  display: table;
  margin: auto;
  text-align: center;
}


/*
 * Content rules
 */
#content h2 {
  font-size: 26px;
  color: #0D3967;
  font-family: "trebuchet MS";
  border-bottom: none;
}

#content ul li {
  list-style-image: url("/ui/iscrib/images/bullet-blue.jpg");
}

#footer {
  background: url("/ui/iscrib/images/footer-background.jpg") top left repeat-x;
  height: 127px;
  text-align: left;
  margin-top: 0;
  width: auto;
}
#footer .container {
  width: 600px;
  margin: auto;
}
#footer .col {
  width: 190px;
  float: left;
}
#footer .col h2 {
  font-size: 12px;
  color: #fff;
  font-family: "trebuchet MS";
  height: 25px;
  width: 190px;
  overflow: hidden;
  margin: 0;
}
#footer .col .content {
  font-size: 11px;
  color: #fff;
  font-family: "trebuchet MS";
  padding-left: 0;
  margin-left: 0;
}
#footer .col .content a {
  color: #fff;
}
#footer .col .content li {
  list-style: none;
}
#footer a {
  margin: 0;
}

/*
 * Forms
 */
.num {
  text-align: right !important;
}
.mandatory {
  background-color: #ffc8c8 !important;
}
.badtype {
  border: 3px solid #c00 !important;
}
.disabled {
  background-color: #d3d3d3 !important;
}

/* readonly widgets */
div.readonly {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  padding-right: 15px;
}

div.num {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  width: 80px;
  text-align: right !important;
}

#form-tables {
  text-align: center;
}
#form-tables table {
  margin: auto;
  text-align: left;
}

.iscrib-table td {
  padding: 5px;
  color: #446;
  font-family: Verdana, Arial, Sans
  font-weight: bold;
  text-align: left;
}
.iscrib-table td.centered {
  text-align: center;
}

.iscrib-table td.section-header {
  text-align: left;
}
.iscrib-table td.section-header * {
  border-bottom: 0;
  font-family: Arial, sans;
}
.iscrib-table td.section-header h2 {
  margin: 5px 0;
  color: #fff;
  background: #339;
  font-size: 14px;
}
.iscrib-table td.section-header h3 {
  margin: 3px 0;
  color: #fff;
  background: #729FCF;
  font-size: 14px;
}
.iscrib-table td.section-header h4 {
  margin: 1px 0;
  color: #339;
  background: #fff;
  font-size: 12px;
}
.iscrib-table td.section-header h5 {
  margin: 1px 0;
  font-size: 12px;
  color: #000;
  background: #fff;
  font-variant: italic;
}
.iscrib-table td.field-label {
  background-color: #d3d3d3;
}
.iscrib-table td.rubrique-label {
  background-color: #d3d3d3;
  font-size: 8px;
}

#top-menu {
  text-align: right;
}

#form-firsttime {
  border: 1px solid red;
  background: red;
  font-weight: bold;
}
#form-firsttime a {
  color: white;
}

#form-toolbar {
  margin: 0;
  font-size: 10px;
  float: right;
}

#form-help {
  float: left;
  border: 1px solid red;
  color: white;
  background: red;
  text-decoration: none;
}

.form-debug {
  font-size: 9px;
  color: #333;
}

#message a {
  border: 0;
  padding: 0;
}

#message .info {
  background-color: #f1e68d;
}

.number {
  color: #FFF;
  font-size: 45px;
  border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px;
  text-align: center;
  width: 45px;
  display:block;
  padding: 0;
  background-color: #074CB4;
}

h1.title-home {
  padding: 0px;
  margin: 0px;
}

/* Buttons */
button, .button {
  background-color: #FFF;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  border: 1px solid #CCCCCC;
  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  box-shadow: 0 0 3px #CCCCCC;
  -moz-box-shadow: 0 0 3px #CCCCCC;
  -webkit-box-shadow: 0 0 3px #CCCCCC;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  padding: 5px;
  padding-left: 24px !important;
  text-decoration: none;
}

.button-control {
  background-image: url(/ui/icons/16x16/settings.png);
  padding-left: 16px;
}

.button-print {
  background-image: url(/ui/iscrib/images/printer.png);
  padding-left: 16px;
}

.button-selector {
  background-image: url(/ui/icons/16x16/image.png);
  padding-left: 16px;
}

.wf-exported { color: #75507b; }
.wf-modified { color: #3465a4; }

.online-help {
  vertical-align: top;
}

.new-resource-thumb a {
  text-decoration: none;
}

#pages-menu {
  border-bottom: 1px solid #339;
}

#pages-menu ul {
  margin: 0;
  padding: 0;
}

#pages-menu ul li {
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 4px;
}

#pages-menu ul li a {
  background: #339;
  border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  color: #fff;
  display: block;
  font-size: 0.8em;
  padding: 5px 15px;
  text-decoration: none;
}

#pages-menu ul li a:hover,
#pages-menu ul li.active a {
  background: #fff;
  color: #339;
  border-color: #339;
}

#contact-form {
  border-collapse: collapse;
  background: url(images/contact-bg.png) top right repeat-y;
  box-shadow: 5px 5px 5px 0 #777;
  -moz-box-shadow: 5px 5px 5px 0 #777;
  -webkit-box-shadow: 5px 5px 5px 0 #777;
}
#contact-form h2 {
  border: 0;
  color: #777;
  margin: 0;
  padding: 0;
}
#contact-form td {
  vertical-align: top;
  padding: 5px;
}
#contact-form p {
  margin: 0;
}
#contact-form input,
#contact-form textarea {
  width: 100%;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

#choose-format {
  display: none;
  border: 1px solid #ccc;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#choose-format span {
  float: right;
}

#already-client {
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 5px #777;
  -moz-box-shadow: 1px 1px 5px #777;
  -webkit-box-shadow: 1px 1px 5px #777;
  float: right;
  margin: 0 0 0 10px;
  padding: 5px;
  width: 40%;
}

.icons-view {
  width: 100%;
  border: 0;
}
.icons-view td {
  margin: 5px;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}
.icons-view img.icon {
  float: left;
}

.root-show td {
  text-align: center;
  vertical-align: bottom;
}
