/* Restore default values */
#autoform input, #autoform textarea {
  width: auto;
}

body {
  background: transparent url('/ui/iscrib/images/bkg.jpg') top left repeat-x;
}

div#page {
  display: table;
  width: 900px;
  max-width: 900px;
  background: #fff;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#header .header-toolbar .access a {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

#folder-banner {
  display: table;
  margin: auto;
  text-align: center;
}


#body {
  font-size: 1.3em;
  padding: 10px 20px;
}

/*
 * Content rules
 */
#content {
  color: #666;
}

/* headers */
#body h1,
#body #content h1,
#body #content h2,
#body #content h3,
#body #content h4,
#body #content h5,
#body #content h6 {
  font-weight: normal;
  color: #0D3967;
  font-family: "trebuchet MS";
}
#body h1 {
  font-size: 2.4em;
  margin: 0;
}
#body #content h1 {
  font-size: 2.0em;
  margin: 20px 0;
}
#body #content h2 { font-size: 1.8em; }
#body #content h3 { font-size: 1.7em; }
#body #content h4 { font-size: 1.6em; }
#body #content h5 { font-size: 1.5em; }
#body #content h6 { font-size: 1.4em; }

#content ul {
  padding-left: 0;
  margin-left: 0;
}

#content ul ul {
  padding-left: 20px;
}

#content ul li {
  list-style-image: url("/ui/iscrib/images/bullet-blue.jpg");
  list-style-position: inside; /* XXX IE7 */
}

#footer {
  background: url("/ui/iscrib/images/footer-background.jpg") top left repeat-x;
  height: 127px;
  text-align: left;
  margin-top: 0;
  width: auto;
}
#footer .container {
  width: 600px;
  margin: auto;
}
#footer .col {
  width: 190px;
  float: left;
}
#footer .col h2 {
  font-size: 12px;
  color: #fff;
  font-family: "trebuchet MS";
  height: 25px;
  width: 190px;
  overflow: hidden;
  margin: 0;
}
#footer .col .content {
  font-size: 11px;
  color: #fff;
  font-family: "trebuchet MS";
  padding-left: 0;
  margin-left: 0;
}
#footer .col .content a {
  color: #fff;
}
#footer .col .content li {
  list-style: none;
}
#footer a {
  margin: 0;
}

/*
 * Forms
 */
.num {
  text-align: right !important;
}
.mandatory {
  background-color: #ffc8c8 !important;
}
.badtype {
  border: 3px solid #c00 !important;
}
.disabled {
  background-color: #d3d3d3 !important;
}

/* readonly widgets */
div.readonly {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  padding-right: 15px;
}

div.num {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  width: 80px;
  text-align: right !important;
}

#form-tables {
  text-align: center;
}
#form-tables table {
  margin: auto;
  text-align: left;
}

.iscrib-table td {
  padding: 5px;
  color: #446;
  font-family: Verdana, Arial, Sans
  font-weight: bold;
  text-align: left;
}
.iscrib-table td.centered {
  text-align: center;
}

.iscrib-table td.section-header {
  text-align: left;
}
.iscrib-table td.section-header * {
  border-bottom: 0;
  font-family: Arial, sans;
}
.iscrib-table td.section-header h2 {
  margin: 5px 0;
  color: #fff;
  background: #339;
  font-size: 14px;
}
.iscrib-table td.section-header h3 {
  margin: 3px 0;
  color: #fff;
  background: #729FCF;
  font-size: 14px;
}
.iscrib-table td.section-header h4 {
  margin: 1px 0;
  color: #339;
  background: #fff;
  font-size: 12px;
}
.iscrib-table td.section-header h5 {
  margin: 1px 0;
  font-size: 12px;
  color: #000;
  background: #fff;
  font-variant: italic;
}
.iscrib-table td.field-label {
  background-color: #d3d3d3;
}
.iscrib-table td.rubrique-label {
  background-color: #d3d3d3;
  font-size: 8px;
}

#top-menu {
  text-align: right;
}

#form-firsttime {
  border: 1px solid red;
  background: red;
  font-weight: bold;
}
#form-firsttime a {
  color: white;
}

#form-toolbar {
  margin: 0;
  font-size: 10px;
  float: right;
}

#form-help {
  float: left;
  border: 1px solid red;
  color: white;
  background: red;
  text-decoration: none;
}

.form-debug {
  font-size: 9px;
  color: #333;
}

#message a {
  border: 0;
  padding: 0;
}

#message .info {
  background-color: #f1e68d;
}

.number {
  color: #FFF;
  font-size: 45px;
  border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px;
  text-align: center;
  width: 45px;
  display:block;
  padding: 0;
  background-color: #074CB4;
}

h1.title-home {
  padding: 0px;
  margin: 0px;
}

/* Buttons */
button, .button {
  background-color: #FFF;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  border: 1px solid #CCCCCC;
  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  box-shadow: 0 0 3px #CCCCCC;
  -moz-box-shadow: 0 0 3px #CCCCCC;
  -webkit-box-shadow: 0 0 3px #CCCCCC;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  padding: 5px;
  padding-left: 24px !important;
  text-decoration: none;
}

.button-control {
  background-image: url(/ui/icons/16x16/settings.png);
  padding-left: 16px;
}

.button-print {
  background-image: url(/ui/iscrib/images/printer.png);
  padding-left: 16px;
}

.button-selector {
  background-image: url(/ui/icons/16x16/image.png);
  padding-left: 16px;
}

.wf-exported { color: #75507b; }
.wf-modified { color: #3465a4; }

.online-help {
  vertical-align: top;
}

.new-resource-thumb a {
  text-decoration: none;
}

#pages-menu {
  border-bottom: 1px solid #339;
}

#pages-menu ul {
  margin: 0;
  padding: 0;
}

#pages-menu ul li {
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 4px;
}

#pages-menu ul li a {
  background: #339;
  border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  color: #fff;
  display: block;
  font-size: 0.8em;
  padding: 5px 15px;
  text-decoration: none;
}

#pages-menu ul li a:hover,
#pages-menu ul li.active a {
  background: #fff;
  color: #339;
  border-color: #339;
}

#contact-form {
  border-collapse: collapse;
  background: url(images/contact-bg.png) top right repeat-y;
  box-shadow: 5px 5px 5px 0 #777;
  -moz-box-shadow: 5px 5px 5px 0 #777;
  -webkit-box-shadow: 5px 5px 5px 0 #777;
}
#contact-form h2 {
  border: 0;
  color: #777;
  margin: 0;
  padding: 0;
}
#contact-form td {
  vertical-align: top;
  padding: 5px;
}
#contact-form p {
  margin: 0;
}
#contact-form input,
#contact-form textarea {
  width: 100%;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

#choose-format {
  display: none;
  border: 1px solid #ccc;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#choose-format span {
  float: right;
}

#already-client {
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 5px #777;
  -moz-box-shadow: 1px 1px 5px #777;
  -webkit-box-shadow: 1px 1px 5px #777;
  float: right;
  margin: 0 0 0 10px;
  padding: 5px;
  width: 40%;
}

.icons-view {
  width: 100%;
  border: 0;
}
.icons-view td {
  margin: 5px;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}
.icons-view img.icon {
  float: left;
}

.root-show td {
  text-align: center;
  vertical-align: bottom;
}
