/*
 * Forms
 */
input {
  font-size: 11px;
}
.num {
  text-align: right !important;
}
.mandatory {
  background-color: rgb(255, 200, 200) !important;
}
.badtype {
  background-color: rgb(255, 100, 100) !important;
}
.disabled {
  background-color: rgb(235, 235, 235) !important;
}

/* readonly widgets */
div.readonly {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  padding-right: 15px;
}

div.num {
  border-bottom: 1px solid #f1efe2;
  border-right: 1px solid #f1efe2;
  border-left: 2px solid #aca899;
  border-top: 2px solid #aca899;

  width: 80px;
  text-align: right !important;
}

table {
  font-size: 12px;
}

td.centered {
  text-align: center;
}
td.section-header {
  background-color: rgb(51, 51, 153);
  color: rgb(255, 255, 255);
  text-align: left;
}
td.field-label {
  background-color: rgb(211, 211, 211);
}

#header {
  padding: 40px 10px 10px 10px;
  background: #729fcf url(images/logo.png) left bottom no-repeat;
  text-align: right;
}

#scrib_adress  {
  position: absolute;
  top: 4px;
  left: 200px;
  width: 340px;
  height: 80px;
  margin: 0;
  padding: 0; 
  font-size: 10px;
}

#scrib_contacts  {
  position: absolute;
  top: 4px;
  left: 545px;
  width: 180px;
  height: 80px;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.scrib_table td {
  text-align: left;
}

.scrib_title strong,
.scrib_title h2 {
  margin: 6px 3px 0 3px;
  font-size: 14px;
  background: white;
  color: #4e9a06
}

#breadcrumbs { font-size: 10px; }

/**************************************************************************
 * Tabs
 * ***********************************************************************/

#tabs {
  padding: 0;
}

#tabs td {
  border-right: 1px solid #babdb6;
}

#tabs .menu a {
  padding: 4px;
  color: #000;
  background-color: #ccf;
}

#subtabs {
  border-bottom: 1px solid #babdb6;
  padding: 0;
  background-color: #fff;
}

#subtabs td {
  padding: 4px 0px 4px 0px;
  border-right: 1px solid #babdb6;
}

#subtabs .menu a {
  padding: 4px;
  color: #fff;
  background-color: #3465a4;
  text-decoration: none;
  white-space: nowrap;
}

#subtabs .menu a:hover,
#subtabs td.active .menu a {
  color: #000;
  background-color: #fff;
}

#profile span {
  margin: 9px;
  font-weight: bold;
}
#profile span.wf_empty { color: #c00; }
#profile span.wf_draft { color: #f57900; }
#profile span.wf_sent, #profile span.wf_ready { color: #4e9a06; }
#profile span.wf_exported { color: #000; }

input.access_False,
select.access_False {
  color: #999;
}
